body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
}
#u6910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6911 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:87px;
  width:46px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6912 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:182px;
  width:310px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6913 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:251px;
  width:310px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6914 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:322px;
  width:310px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6915 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:396px;
  width:310px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6916 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:463px;
  width:310px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
