body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6971 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u6971_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6971_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
  text-align:left;
}
#u6972 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6974 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u6974_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6974_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
  text-align:left;
}
#u6975 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6976 {
  position:fixed;
  left:50%;
  margin-left:-150px;
  top:50%;
  margin-top:-85px;
  visibility:hidden;
}
#u6976_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6976_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
  text-align:left;
}
#u6977 .text {
  position:absolute;
  align-self:center;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u6977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  display:flex;
}
#u6978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6979 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:91px;
  width:39px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6980 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:136px;
  width:133px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6981 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:297px;
  width:320px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6982 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:365px;
  width:120px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
