body {
  margin:0px;
  background-color:rgba(233, 241, 246, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#404040;
}
#u5114 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:100px;
  width:239px;
  height:33px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#404040;
}
#u5114 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:660px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5115 {
  border-width:0px;
  position:absolute;
  left:216px;
  top:163px;
  width:590px;
  height:660px;
  display:flex;
}
#u5115 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5116 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:259px;
  width:550px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5116 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u5116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5117 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:315px;
  width:550px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5117 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u5117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5118 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:375px;
  width:550px;
  height:40px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5118 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u5118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5119 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:435px;
  width:550px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5119 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 15px;
  box-sizing:border-box;
  width:100%;
}
#u5119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:56px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:183px;
  width:550px;
  height:56px;
  display:flex;
}
#u5120 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:45px;
  background:inherit;
  background-color:rgba(35, 113, 227, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5121 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:604px;
  width:550px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u5121 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5122_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  background:inherit;
  background-color:rgba(35, 113, 227, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5122 {
  border-width:0px;
  position:absolute;
  left:516px;
  top:193px;
  width:260px;
  height:35px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5122 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#979797;
  text-align:left;
}
#u5123 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:495px;
  width:396px;
  height:17px;
  display:flex;
  font-size:16px;
  color:#979797;
  text-align:left;
}
#u5123 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5123_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
}
#u5124 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:193px;
  width:260px;
  height:35px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#404040;
}
#u5124 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5126_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u5126 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:531px;
  width:271px;
  height:17px;
  display:flex;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u5126 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5126_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5128 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:529px;
  width:20px;
  height:20px;
  display:flex;
}
#u5128 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5129_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:11px;
}
#u5129 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:535px;
  width:12px;
  height:9px;
  display:flex;
}
#u5129 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5130 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:679px;
  width:411px;
  height:34px;
  display:flex;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5130_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5131 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:733px;
  width:550px;
  height:50px;
  display:flex;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u5131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:863px;
  width:1024px;
  height:206px;
}
#u5133_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(233, 241, 246, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5133_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u5134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:953px;
  width:61px;
  height:19px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u5134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5134_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5135 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:953px;
  width:61px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5135 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5135_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5136 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:953px;
  width:116px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5137 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:953px;
  width:88px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5138 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:953px;
  width:28px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5139 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:953px;
  width:74px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#404040;
}
#u5140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:992px;
  width:485px;
  height:47px;
  display:flex;
  color:#404040;
}
#u5140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5141 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:953px;
  width:74px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u5143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:896px;
  width:35px;
  height:35px;
  display:flex;
}
#u5143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u5144 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:896px;
  width:35px;
  height:35px;
  display:flex;
}
#u5144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u5145 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:896px;
  width:35px;
  height:35px;
  display:flex;
}
#u5145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u5146 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:896px;
  width:35px;
  height:35px;
  display:flex;
}
#u5146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 64, 64, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5149 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:893px;
  width:40px;
  height:40px;
  display:flex;
}
#u5149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u5150 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:901px;
  width:22px;
  height:22px;
  display:flex;
}
#u5150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:863px;
  width:100px;
  height:1px;
}
#u5151_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(226, 226, 226, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5151_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5153 {
  position:fixed;
  right:20px;
  bottom:20px;
}
#u5153_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5153_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u5154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
  display:flex;
}
#u5154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5155 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:953px;
  width:61px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5157 {
  position:fixed;
  left:50%;
  margin-left:-512px;
  top:0px;
}
#u5157_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5157_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  display:flex;
}
#u5158 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u5161 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:21px;
  width:84px;
  height:17px;
  display:flex;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u5161 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5161_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:17.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:12px;
  width:35px;
  height:35px;
  display:flex;
}
#u5163 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5165 {
  border-width:0px;
  position:absolute;
  left:916px;
  top:20px;
  width:12px;
  height:12px;
  display:flex;
}
#u5165 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:6px;
}
#u5166 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:32px;
  width:14px;
  height:6px;
  display:flex;
}
#u5166 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5168 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:18px;
  width:90px;
  height:24px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5168 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5168_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u5169 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:18px;
  width:49px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u5169 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5169_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u5170 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:18px;
  width:49px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u5170 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5170_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u5171 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:18px;
  width:49px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u5171 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u5172 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:18px;
  width:76px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u5172 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5172_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5173 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:18px;
  width:49px;
  height:24px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u5173 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u5173_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  height:40px;
  display:flex;
}
#u5174 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:370px;
  width:96px;
  height:96px;
  display:flex;
}
#u5175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:15px;
  width:45px;
  height:30px;
  display:flex;
}
#u5176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:763px;
  top:71px;
  width:192px;
  height:190px;
  display:flex;
}
#u5178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:131px;
  width:45px;
  height:30px;
  display:flex;
}
#u5180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:131px;
  width:53px;
  height:30px;
  display:flex;
  font-size:16px;
}
#u5181 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5181_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u5183 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:171px;
  width:45px;
  height:30px;
  display:flex;
}
#u5183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:171px;
  width:68px;
  height:30px;
  display:flex;
  font-size:16px;
}
#u5184 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:211px;
  width:45px;
  height:30px;
  display:flex;
}
#u5186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:211px;
  width:43px;
  height:30px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5187 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5187_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:91px;
  width:45px;
  height:30px;
  display:flex;
}
#u5189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:838px;
  top:91px;
  width:43px;
  height:30px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5190 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5190_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:566px;
  width:296px;
  height:17px;
  display:flex;
  font-size:14px;
  text-align:left;
}
#u5192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5196 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:564px;
  width:20px;
  height:20px;
  display:flex;
}
#u5196 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5197_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:14px;
  height:11px;
}
#u5197 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:570px;
  width:12px;
  height:9px;
  display:flex;
}
#u5197 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5198 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:193px;
  width:260px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5199 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:193px;
  width:260px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
