body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:649px;
  display:flex;
}
#u7844 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7847 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7848 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  display:flex;
}
#u7848 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:12px;
}
#u7853 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:4px;
  width:24px;
  height:12px;
  display:flex;
  opacity:0.4000000059604645;
}
#u7853 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:5px;
}
#u7854 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:8px;
  width:2px;
  height:5px;
  display:flex;
  opacity:0.4000000059604645;
}
#u7854 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7855 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:6px;
  width:20px;
  height:8px;
  display:flex;
}
#u7855 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:right;
}
#u7856 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:3px;
  width:33px;
  height:14px;
  display:flex;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:right;
}
#u7856 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u7857 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:5px;
  width:6px;
  height:10px;
  display:flex;
}
#u7857 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
}
#u7858 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:3px;
  width:45px;
  height:14px;
  display:flex;
  font-family:'SFProText-Semibold', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
}
#u7858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:left;
}
#u7861 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:3px;
  width:40px;
  height:14px;
  display:flex;
  font-family:'SFProText-Regular', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#030303;
  text-align:left;
}
#u7861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:10px;
}
#u7862 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:5px;
  width:17px;
  height:10px;
  display:flex;
}
#u7862 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u7863 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:5px;
  width:15px;
  height:10px;
  display:flex;
}
#u7863 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:360px;
  height:60px;
  display:flex;
}
#u7866 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7867 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:20px;
  height:20px;
  display:flex;
}
#u7867 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 0, 27, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7869 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:30px;
  width:40px;
  height:40px;
  display:flex;
}
#u7869 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7870 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:35px;
  width:30px;
  height:30px;
  display:flex;
}
#u7870 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7871 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:30px;
  width:40px;
  height:40px;
  display:flex;
}
#u7871 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u7872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:359px;
  height:1px;
  display:flex;
}
#u7872 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7872_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u7873 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:320px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u7873 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7874 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:139px;
  width:150px;
  height:150px;
  display:flex;
}
#u7874 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7874_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7875 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:146px;
  width:98px;
  height:35px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7876 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:309px;
  width:150px;
  height:150px;
  display:flex;
}
#u7876 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7876_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7877 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:319px;
  width:90px;
  height:35px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7878 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:479px;
  width:150px;
  height:150px;
  display:flex;
}
#u7878 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7880_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7880 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:139px;
  width:150px;
  height:150px;
  display:flex;
}
#u7880 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7881 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:149px;
  width:73px;
  height:35px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7881 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:90px;
}
#u7882 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:199px;
  width:109px;
  height:90px;
  display:flex;
}
#u7882 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7883 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:309px;
  width:150px;
  height:150px;
  display:flex;
}
#u7883 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7884_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7884 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:319px;
  width:69px;
  height:35px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7884 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7885 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:489px;
  width:100px;
  height:35px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:90px;
}
#u7886 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:199px;
  width:109px;
  height:90px;
  display:flex;
}
#u7886 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:90px;
}
#u7887 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:369px;
  width:109px;
  height:90px;
  display:flex;
}
#u7887 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7887_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:90px;
}
#u7888 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:369px;
  width:109px;
  height:90px;
  display:flex;
}
#u7888 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:90px;
}
#u7889 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:539px;
  width:109px;
  height:90px;
  display:flex;
}
#u7889 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7890 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:479px;
  width:150px;
  height:150px;
  display:flex;
}
#u7890 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:90px;
}
#u7891 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:539px;
  width:109px;
  height:90px;
  display:flex;
}
#u7891 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7892 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:489px;
  width:76px;
  height:35px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:22px;
  color:#404040;
  text-align:left;
}
#u7892 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:569px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.5019607843137255);
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.5019607843137255);
}
#u7893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:360px;
  height:569px;
  display:flex;
}
#u7893 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7893_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
  text-align:left;
}
#u7894 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:103px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#404040;
  text-align:left;
}
#u7894 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u7895 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:136px;
  width:103px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
  text-align:left;
}
#u7895 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7895_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7897 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:278px;
  width:100px;
  height:100px;
  display:flex;
}
#u7897 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7898 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:278px;
  width:100px;
  height:100px;
  display:flex;
}
#u7898 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7899 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:278px;
  width:100px;
  height:100px;
  display:flex;
}
#u7899 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#979797;
}
#u7900 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:298px;
  width:62px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#979797;
}
#u7900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#979797;
}
#u7901 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:298px;
  width:69px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#979797;
}
#u7901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#979797;
}
#u7902 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:298px;
  width:57px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#979797;
}
#u7902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#404040;
}
#u7903 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:328px;
  width:98px;
  height:20px;
  display:flex;
  font-size:18px;
  color:#404040;
}
#u7903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#404040;
}
#u7904 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:328px;
  width:98px;
  height:20px;
  display:flex;
  font-size:18px;
  color:#404040;
}
#u7904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#2371E3;
}
#u7905 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:328px;
  width:98px;
  height:20px;
  display:flex;
  font-size:18px;
  color:#2371E3;
}
#u7905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7906 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7907_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:88px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7907 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:170px;
  width:318px;
  height:88px;
  display:flex;
}
#u7907 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#2371E3;
  text-align:left;
}
#u7908 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:220px;
  width:25px;
  height:16px;
  display:flex;
  font-size:14px;
  color:#2371E3;
  text-align:left;
}
#u7908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u7909 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:184px;
  width:60px;
  height:60px;
  display:flex;
}
#u7909 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7910 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:204px;
  width:37px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u7910 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7910_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u7911 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:190px;
  width:165px;
  height:17px;
  display:flex;
  font-size:14px;
  color:#979797;
  text-align:left;
}
#u7911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#404040;
  text-align:left;
}
#u7912 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:217px;
  width:98px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#404040;
  text-align:left;
}
#u7912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7913 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7915 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:418px;
  width:320px;
  height:40px;
  display:flex;
}
#u7915 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u7916 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:429px;
  width:63px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u7916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7917 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7918 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:473px;
  width:320px;
  height:40px;
  display:flex;
}
#u7918 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u7919 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:484px;
  width:140px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u7919 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 64, 64, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7921 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:528px;
  width:320px;
  height:40px;
  display:flex;
}
#u7921 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7922 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:539px;
  width:57px;
  height:17px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u7922 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7925 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:418px;
  width:320px;
  height:40px;
  display:flex;
}
#u7925 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u7926 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:429px;
  width:63px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u7926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7928 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:473px;
  width:320px;
  height:40px;
  display:flex;
}
#u7928 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u7929 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:484px;
  width:140px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u7929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 64, 64, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7931 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:528px;
  width:320px;
  height:40px;
  display:flex;
}
#u7931 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u7932 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:539px;
  width:58px;
  height:17px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u7932 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7932_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u7933 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:398px;
  width:320px;
  height:1px;
  display:flex;
}
#u7933 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
