body {
  margin:0px;
  background-color:rgba(233, 241, 246, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 64, 64, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.0196078431372549);
  -webkit-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.0196078431372549);
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.0196078431372549);
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:129px;
  width:105px;
  height:40px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u795 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.0196078431372549);
  -webkit-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.0196078431372549);
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.0196078431372549);
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:129px;
  width:129px;
  height:40px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u796 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u796_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:1024px;
  height:29px;
  display:flex;
  font-family:'AppleSDGothicNeo-Bold', 'Apple SD Gothic Neo Bold', 'Apple SD Gothic Neo', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u797 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.0196078431372549);
  -webkit-box-shadow:1px 1px 10px rgba(0, 0, 0, 0.0196078431372549);
  box-shadow:1px 1px 10px rgba(0, 0, 0, 0.0196078431372549);
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:129px;
  width:105px;
  height:40px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u798 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u798_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:799px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:189px;
  width:1024px;
  height:799px;
  display:flex;
}
#u799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u801 {
  position:fixed;
  left:50%;
  margin-left:-512px;
  top:0px;
}
#u801_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u801_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:60px;
  display:flex;
}
#u802 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:18px;
  width:90px;
  height:24px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u804 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u804_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:18px;
  width:49px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u805 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u805_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:18px;
  width:49px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u806 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u806_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:18px;
  width:49px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u807 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u807_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:18px;
  width:76px;
  height:24px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u808 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u808_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:18px;
  width:49px;
  height:24px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u809 .text {
  position:absolute;
  align-self:center;
  padding:0px 10px 0px 10px;
  box-sizing:border-box;
  width:100%;
}
#u809_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  height:40px;
  display:flex;
}
#u810 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(35, 113, 227, 1);
  border:none;
  border-radius:61px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:10px;
  width:121px;
  height:40px;
  display:flex;
}
#u811 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 20px;
  box-sizing:border-box;
  width:100%;
}
#u811_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:10px;
  width:83px;
  height:40px;
  display:flex;
}
#u813 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:1009px;
  top:27px;
  width:5px;
  height:5px;
  display:flex;
}
#u814 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:18px;
  width:18px;
  height:23px;
  display:flex;
  font-family:'BalooBhai-Regular', 'Baloo Bhai', sans-serif;
  font-weight:800;
  font-style:normal;
  font-size:14px;
  color:#404040;
  text-align:left;
}
#u815 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u815_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:15px;
  width:30px;
  height:30px;
  display:flex;
}
#u816 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:15px;
  width:30px;
  height:30px;
  display:flex;
}
#u817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1008px;
  width:1024px;
  height:206px;
}
#u819_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:206px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(233, 241, 246, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u819_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#404040;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1098px;
  width:61px;
  height:19px;
  display:flex;
  font-size:16px;
  color:#404040;
}
#u820 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u820_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:1098px;
  width:61px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:1098px;
  width:116px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u822 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u822_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:1098px;
  width:88px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u823 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1098px;
  width:28px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u824 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u824_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:1098px;
  width:74px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#404040;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1137px;
  width:485px;
  height:47px;
  display:flex;
  color:#404040;
}
#u826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:1098px;
  width:74px;
  height:19px;
  display:flex;
  font-family:'AppleSDGothicNeo-Regular', 'Apple SD Gothic Neo', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#404040;
}
#u827 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u827_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1041px;
  width:35px;
  height:35px;
  display:flex;
}
#u829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:1041px;
  width:35px;
  height:35px;
  display:flex;
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:1041px;
  width:35px;
  height:35px;
  display:flex;
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:1041px;
  width:35px;
  height:35px;
  display:flex;
}
#u832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(64, 64, 64, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:1038px;
  width:40px;
  height:40px;
  display:flex;
}
#u835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:1046px;
  width:22px;
  height:22px;
  display:flex;
}
#u836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1008px;
  width:100px;
  height:1px;
}
#u837_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(226, 226, 226, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
